@charset "utf-8";

.mypage_map {
    margin: 0 15%;
}
.map_content {
    border-radius: 5px;
    background-color: gray;
}
/* hokkaido */
.prefecture1 {
    height: 60px;
    width: 80px;
    margin: 10px 25% 0 auto;
}
/* aomori */
.prefecture2 {
    height: 30px;
    width: 60px;
    margin: 10px 26% 0 auto;
}
/* iwate */
.prefecture3 {
    height: 50px;
    width: 35px;
    margin: 3px 25% 0 auto;
}
/* akita */
.prefecture4 {
    height: 50px;
    width: 35px;
    margin: -50px 29% 0 auto;
}
/* miyagi */
.prefecture5 {
    height: 50px;
    width: 35px;
    margin: 3px 25% 0 auto;
}
/* yamagata */
.prefecture6 {
    height: 50px;
    width: 35px;
    margin: -50px 29% 0 auto;
}
/* fukushima */
.prefecture7 {
    height: 30px;
    width: 70px;
    margin: 3px 25% 0 auto;
}
/* ibaraki */
.prefecture8 {
    height: 40px;
    width: 20px;
    margin: 3px 25% 0 auto;
}
/* tochigi */
.prefecture9 {
    height: 40px;
    width: 20px;
    margin: -40px 27.5% 0 auto;
}
/* gunma */
.prefecture10 {
    height: 40px;
    width: 20px;
    margin: -40px 30% 0 auto;
}
/* chiba */
.prefecture11 {
    height: 60px;
    width: 25px;
    margin: 3px 25%0 auto;
}
/* saitama */
.prefecture12 {
    height: 25px;
    width: 40px;
    margin: -60px 28% 0 auto;
}
/* tokyo */
.prefecture13 {
    height: 15px;
    width: 40px;
    margin: 3px 28% 0 auto;
}
/* kanagawa */
.prefecture14 {
    height: 20px;
    width: 25px;
    margin: 3px 30% 0 auto;
}
/* niigata */
.prefecture15 {
    height: 55px;
    width: 35px;
    margin: -140px 32.5% 0 auto;
}
/* nagano */
.prefecture16 {
    height: 35px;
    width: 45px;
    margin: 3px 32.5% 0 auto;
}
/* yamanashi */
.prefecture17 {
    height: 20px;
    width: 45px;
    margin: 3px 32.5% 0 auto;
}
/* shizuoka */
.prefecture18 {
    height: 20px;
    width: 40px;
    margin: 3px 33% 0 auto;
}
/* toyama */
.prefecture19 {
    height: 30px;
    width: 35px;
    margin: -115px 36.5% 0 auto;
}
/* ishikawa */
.prefecture20 {
    height: 45px;
    width: 20px;
    margin: -45px 40.5% 0 auto;
}
/* gifu */
.prefecture21 {
    height: 35px;
    width: 45px;
    margin: 3px 37.5% 0 auto;
}
/* aichi */
.prefecture22 {
    height: 25px;
    width: 45px;
    margin: 3px 37.5% 0 auto;
}
/* fukui */
.prefecture23 {
    height: 20px;
    width: 30px;
    margin: -90px 43.25% 0 auto;
}
/* shiga */
.prefecture24 {
    height: 30px;
    width: 40px;
    margin: 3px 42.5% 0 auto;
}
/* mie */
.prefecture25 {
    height: 30px;
    width: 40px;
    margin: 3px 42.5% 0 auto;
}
/* kyoto */
.prefecture26 {
    height: 30px;
    width: 25px;
    margin: -80px 47% 0 auto;
}
/* osaka */
.prefecture27 {
    height: 20px;
    width: 25px;
    margin: 3px 47% 0 auto;
}
/* nara */
.prefecture28 {
    height: 20px;
    width: 25px;
    margin: 3px 47% 0 auto;
}
/* hyogo */
.prefecture29 {
    height: 30px;
    width: 35px;
    margin: -70px 50% 0 auto;
}
/* wakayama */
.prefecture30 {
    height: 40px;
    width: 25px;
    margin: 3px 50% 0 auto;
}
/* tottori */
.prefecture31 {
    height: 20px;
    width: 35px;
    margin: -70px 54% 0 auto;
}
/* okayama */
.prefecture32 {
    height: 20px;
    width: 35px;
    margin: 3px 54% 0 auto;
}
/* shimane */
.prefecture33 {
    height: 20px;
    width: 35px;
    margin: -43px 58% 0 auto;
}
/* hiroshima */
.prefecture34 {
    height: 20px;
    width: 35px;
    margin: 3px 58% 0 auto;
}
/* yamaguchi */
.prefecture35 {
    height: 30px;
    width: 30px;
    margin: -38px 62% 0 auto;
}
/* kagawa */
.prefecture36 {
    height: 20px;
    width: 30px;
    margin: 20px 56% 0 auto;
}
/* tokushima */
.prefecture37 {
    height: 25px;
    width: 30px;
    margin: 3px 56% 0 auto;
}
/* ehime */
.prefecture38 {
    height: 20px;
    width: 40px;
    margin: -48px 59.5% 0 auto;
}
/* kochi */
.prefecture39 {
    height: 25px;
    width: 40px;
    margin: 3px 59.5% 0 auto;
}
/* fukuoka */
.prefecture40 {
    height: 25px;
    width: 30px;
    margin: -60px 70.5% 0 auto;
}
/* oita */
.prefecture41 {
    height: 35px;
    width: 30px;
    margin: -20px 67% 0 auto;
}
/* miyazaki */
.prefecture42 {
    height: 35px;
    width: 30px;
    margin: 3px 67% 0 auto;
}
/* saga */
.prefecture43 {
    height: 15px;
    width: 20px;
    margin: -68px 74% 0 auto;
}
/* kumamoto */
.prefecture44 {
    height: 35px;
    width: 30px;
    margin: 3px 70.5% 0 auto;
}
/* nagasaki */
.prefecture45 {
    height: 15px;
    width: 25px;
    margin: -35px 74% 0 auto;
}
/* kagoshima */
.prefecture46 {
    height: 30px;
    width: 30px;
    margin: 23px 70.5% 0 auto;
}
/* okinawa */
.prefecture47 {
    height: 20px;
    width: 50px;
    margin: 40px 72% 30px auto;
}

/* hover */
.hokkaido_tohoku_color {
    background-color: #7e7ef2;
}
.kanto_color {
    background-color: #575dff;
}
.chubu_color {
    background-color: #3dc8ff;
}
.kansai_color {
    background-color: #00a300;
}
.chugoku_color {
    background-color: #ffc46b;
}
.shikoku_color {
    background-color: #ff504a;
}
.kyushu_color {
    background-color: #ffb3b0;
}
@media (max-width:1200px) {
    .mypage_map {
        margin: 0 10%;
    }
    .prefecture1 {
        margin: 10px 155px 0 auto;
    }
    .prefecture2 {
        margin: 10px 165px 0 auto;
    }
    .prefecture3 {
        margin: 2px 160px 0 auto;
    }
    .prefecture4 {
        margin: -50px 200px 0 auto;
    }
    .prefecture5 {
        margin: 2px 160px 0 auto;
    }
    .prefecture6 {
        margin: -50px 200px 0 auto;
    }
    .prefecture7 {
        margin: 2px 160px 0 auto;
    }
    .prefecture8 {
        margin: 2px 160px 0 auto;
    }
    .prefecture9 {
        margin: -40px 185px 0 auto;
    }
    .prefecture10 {
        margin: -40px 210px 0 auto;
    }
    .prefecture11 {
        margin: 2px 160px 0 auto;
    }
    .prefecture12 {
        margin: -60px 190px 0 auto;
    }
    .prefecture13 {
        margin: 2px 190px 0 auto;
    }
    .prefecture14 {
        margin: 2px 210px 0 auto;
    }
    .prefecture15 {
        margin: -140px 235px 0 auto;
    }
    .prefecture16 {
        margin: 2px 235px 0 auto;
    }
    .prefecture17 {
        margin: 2px 235px 0 auto;
    }
    .prefecture18 {
        margin: 2px 240px 0 auto;
    }
    .prefecture19 {
        margin: -115px 275px 0 auto;
    }
    .prefecture20 {
        margin: -45px 315px 0 auto;
    }
    .prefecture21 {
        margin: 2px 285px 0 auto;
    }
    .prefecture22 {
        margin: 2px 285px 0 auto;
    }
    .prefecture23 {
        margin: -90px 340px 0 auto;
    }
    .prefecture24 {
        margin: 2px 335px 0 auto;
    }
    .prefecture25 {
        margin: 2px 335px 0 auto;
    }
    .prefecture26 {
        margin: -80px 380px 0 auto;
    }
    .prefecture27 {
        margin: 2px 380px 0 auto;
    }
    .prefecture28 {
        margin: 2px 380px 0 auto;
    }
    .prefecture29 {
        margin: -70px 410px 0 auto;
    }
    .prefecture30 {
        margin: 2px 410px 0 auto;
    }
    .prefecture31 {
        margin: -70px 450px 0 auto;
    }
    .prefecture32 {
        margin: 2px 450px 0 auto;
    }
    .prefecture33 {
        margin: -43px 490px 0 auto;
    }
    .prefecture34 {
        margin: 2px 490px 0 auto;
    }
    .prefecture35 {
        margin: -40px 530px 0 auto;
    }
    .prefecture36 {
        margin: 20px 460px 0 auto;
    }
    .prefecture37 {
        margin: 2px 460px 0 auto;
    }
    .prefecture38 {
        margin: -48px 495px 0 auto;
    }
    .prefecture39 {
        margin: 2px 495px 0 auto;
    }
    .prefecture40 {
        margin: -60px 590px 0 auto;
    }
    .prefecture41 {
        margin: -20px 555px 0 auto;
    }
    .prefecture42 {
        margin: 2px 555px 0 auto;
    }
    .prefecture43 {
        margin: -68px 625px 0 auto;
    }
    .prefecture44 {
        margin: 2px 590px 0 auto;
    }
    .prefecture45 {
        margin: -35px 625px 0 auto;
    }
    .prefecture46 {
        margin: 22px 590px 0 auto;
    }
    .prefecture47 {
        margin: 40px 600px 0 auto;
    }
}
@media (max-width:900px) {
    .mypage_map {
        margin: 0;
    }
}
@media (max-width:700px) {
    .mypage_map {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10%;
        justify-content: center;
    }
    .map_content {
        margin: 5px 10px;
        padding: 10px 30px;
        height: 50px;
        width: 80px;
    }
}