@charset "utf-8";

/* common */
li {
    list-style: none;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    background-color: #dedede;
}
.header_menu {
    display:flex;
    justify-content: right;
    gap: 40px;
    font-size: 15px;
    padding: 0 20px 0 0;
    margin-bottom: 0px!important;
    align-items: center;
}
.menu {
    color: #737373;
}
.menu:hover {
    color: #575757;
}
a:hover {
    text-decoration: none!important;
}
.top_header {
    display: flex;
    justify-content: space-between;
}
.top_image {
    height: 50px;
    width: 110px;
    margin: 0 50% 0 20px;
    align-items: center;
}


/* footer */
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
    background-color: #737373;
}
.mini_footer {
    position: absolute;
    bottom: 0;
}
#sns_link {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
}
.fa-brands {
    color: #737373;
}
#copyright {
    color: #000;
    display: block;
    text-align: center;
}

/* top */
.title {
    background-image: url("/image/IMG_7884.JPG");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    color: black;
    padding: 250px 0;
    font-family: 'Anton', sans-serif;
    font-size: 30px!important;
    filter: grayscale(50%);
}
.fa-twitter:hover {
    color: #1DA1F2;
    transition: 0.2s;
}
.fa-facebook:hover {
    color: #1877f2;
    transition: 0.2s;
}
.fa-instagram:hover {
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%)no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.top_title {
    margin: 0 0 0 7%;
}

/* japan_map */
#japan_map {
    min-height: auto;
    margin: 50px 7% 150px;
}
#map {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#hokkaido {
    display: flex;
    justify-content: center;
    padding: 40px 60px;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
}
#hokkaido:hover {
    background-color: #7e7ef2;
    transition: .2s;
}
#tohoku {
    display: flex;
    justify-content: center;
    margin: 50px 10px 0 10px;
    padding: 70px 50px;
    border-radius: 5px 5px 5px 0;
    color: #fff;
    background-color: gray;
}
#tohoku:hover {
    background-color: #7e7ef2;
    transition: .2s;
}
#kanto {
    display: flex;
    justify-content: center;
    margin: 0 10px 0;
    padding: 40px 0;
    border-radius: 0 5px 5px 5px;
    color: #fff;
    background-color: gray;
}
#kanto:hover {
    background-color: #575dff;
    transition: .2s;
}
#chubu {
    display: flex;
    justify-content: center;
    margin: 250px -10px 120px 0;
    padding: 50px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
}
#chubu:hover {
    background-color: #3dc8ff;
    transition: .2s;
}
#kansai {
    display: flex;
    justify-content: center;
    margin: 250px 0 90px 0;
    padding: 60px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
}
#kansai:hover {
    background-color: #00a300;
    transition: .2s;
}
#chugoku {
    display: flex;
    justify-content: center;
    margin: 250px 0 50px 0;
    padding: 40px 50px;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
}
#chugoku:hover {
    background-color: #ffc46b;
    transition: .2s;
}
#shikoku {
    display: flex;
    justify-content: center;
    margin: -30px 20px 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
}
#shikoku:hover {
    background-color: #ff504a;
    transition: .2s;
}
#kyushu {
    display: flex;
    justify-content: center;
    margin: 300px 30px 30px 0;
    padding: 50px 40px;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
}
#kyushu:hover {
    background-color: #ffb3b0;
    transition: .2s;
}
#okinawa {
    display: flex;
    justify-content: center;
    margin: 0 60px 0 -30px;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
}
#okinawa:hover {
    background-color: #ffb3b0;
    transition: .2s;
}
#hokkaido_tohoku,
#tyugoku_shikoku,
#kyushu_okinawa {
    display: flex;
    flex-direction: column;
}

/* World */
#world_map {
    min-height: auto;
    margin: 50px 7%;
}
#world {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.world_list {
    display: flex;
    justify-content: start;
    margin: 10px 20%;
}
.europe {
    display: flex;
    flex-direction: row-reverse;
}
#europe {
    padding: 30px 140px 30px 100px;
    background-color: gray;
    border-radius: 0 5px 5px 5px;
    color: #fff;
}
#europe2 {
    margin: 0 0 30px 0;
    padding: 10px 30px;
    background-color: gray;
    border-radius: 5px 0 0 5px;
}
.asia {
    display: flex;
    flex-direction: column;
}
#asia {
    margin: 0 60px 0 100px;
    padding: 30px 80px;
    background-color: gray;
    border-radius: 0 0 5px 5px;
    color: #fff;
}
#asia2 {
    margin: 20px 80px -60px 240px;
    padding: 30px 10px;
    background-color: gray;
    border-radius:5px;
}
.eu_asia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0 30px 0;
}
.japan {
    display: flex;
    flex-direction: row-reverse;
}
#japan {
    margin: 150px 30px 30px 0;
    padding: 30px 1px 10px;
    background-color: gray;
    border-radius: 5px 5px 5px 0;
    color: #fff;
}
#japan2 {
    margin: 200px 0 30px -30px;
    padding: 20px 10px;
    background-color: gray;
    border-radius: 5px 0 0 5px;
}
.america {
    display: flex;
    flex-direction: column;
}
#america {
    margin: 50px 30px 0 100px;
    padding: 50px 30px 30px;
    background-color: gray;
    border-radius: 5px 5px 0 5px;
    color: #fff;
}
#america2 {
    margin: 0 30px 30px 150px;
    padding: 20px 30px;
    background-color: gray;
    border-radius: 0 0 5px 5px;
}
.africa {
    display: flex;
    flex-direction: column;
}
#africa {
    margin: -130px 120px 0 0;
    padding: 40px 30px 20px;
    background-color: gray;
    border-radius: 5px 5px 0 5px;
    color: #fff;
}
#africa2 {
    margin: 0px 120px 0 30px;
    padding: 20px 30px;
    background-color: gray;
    border-radius: 0 0 5px 5px;
}
#australia {
    margin: 10px 100px 80px;
    padding: 20px 30px;
    background-color: gray;
    border-radius: 5px;
    color: #fff;
}
.southAmerica {
    display: flex;
    flex-direction: column;
}
#southAmerica {
    margin: -80px 40px 0 60px;
    padding: 40px 30px 20px;
    background-color: gray;
    border-radius: 5px 5px 5px 0;
    color: #fff;
}
#southAmerica2 {
    margin: 0 80px 0 60px;
    padding: 30px 0;
    background-color: gray;
    border-radius: 0 0 5px 5px;
}
.pic {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.pic:hover {
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 0 2rem rgba(0,0,0,.5);
}

/* category */
#category_map {
    margin: 50px 7%;
}
#category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category_list {
    color: #575757;
    font-size: 20px;
    text-align: center;
}
.category_list:hover {
    color: #000;
    transition: .2s;
}
.category_img {
    background-color: #e3e3e3;
    border-radius: 5px;
    margin: 50px 30px;
    padding: 10px 20px 20px 20px;
    line-height: 50px;
}

/* gallery */
.gallery {
    margin: 0 120px;
    position: relative;
}
#gallery_title {
    margin: 20px 120px;
}
#gallery_subtitle {
    margin: 20px 120px;
    font-size: 2rem;
}
.gallery_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.map_pic {
    margin: 10px 10px;
    filter: grayscale(100%);
}
.map_pic:hover {
    filter: grayscale(0%);
}
.modal {
    display: none;
}
.modal.active {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.modal_inner {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.modal_content {
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
}
.modal_inner,
.image {
    width: 100%;
    margin-bottom: 10px;
}
.image {
    width: 55%;
    margin: 20px 0 10px 0;
    z-index: 3;
}
.slide_btn {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 48px;
    height: 48px;
    border-top: 2px solid #c0c0c0;
    margin: auto;
    cursor: pointer;
    z-index: 3;
}
.prev {
    left: 10px;
    border-left: 2px solid #c0c0c0;
    transform: rotate(-45deg);
}
.next {
    right: 10px;
    border-right: 2px solid #c0c0c0;
    transform: rotate(45deg);
}

/* login */
.panel-heading {
    display: flex;
    justify-content: space-between;
}
.row {
    margin: 8% 0;
}
.register_btn {
    display: none;
}

/* profile */
.profile {
    background-image: url("/image/IMG_7574.jpg");
    margin: -22px 0 -11px 0;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 85vh;
    text-align: center;
    filter: grayscale(50%);
}
.profile_title {
    padding: 62px 0 30px 0;
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.profile_pic {
    height: 25%;
    width: 25%;
    border-radius: 50px;
}
.profile_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20% 0;
}
.profile_list {
    font-size: 30px;
    background-color: rgba(255,255,255,.6);
    border-radius: 20px;
    margin: 0 10%;
    padding: 20px 0 0;
}
.my_background {
    font-size: 15px;
    padding: 15px 15% 10px;
}
.fa-brands {
    margin: 50px 0 20px 0;
}
.fa-user {
    display: block;
    border-radius: 50px;
    background-color: rgba(255,255,255,.6);
    padding: 30px;
}
.contact_sns {
    display: flex;
    justify-content: space-around;
    margin: 50px 5%;
    gap: 20px;
}
.send_btn {
    margin: 30px;
}

/* profile_edit */
.profile_edit {
    display: flex;
    flex-direction: column;
    margin: 30px 15%;
    position: relative;
    z-index: 999;
}
.profile_edit_tag {
    width: 150px;
}
.form_controls {
    margin: 10px 0 20px;
    border: none;
    border-bottom: 1px solid #737373;
    background: none;
    width: 200px;
    text-align: center;
}
.profile_bio {
    margin: 10px 0 20px;
    border: none;
    border-bottom: 1px solid #737373;
    background: none;
    width: 400px;
    height: 100px;
    text-align: center;
}
.image_input {
    display: none;
}
.image_label {
    margin: 10px 0 20px;
}
.profile_img {
    display: flex;
    margin: 10px 0 20px;
    align-items: center;
    gap: 30px;
}
.image_ex {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 150px;
    right: 15%;
    height: 800px;
    width: 800px;
}

/* post */
.post_content {
    margin: 20px 10%;
}
.post_title {
    margin: 0 6%;
}
.post_title label {
    width: 15%;
}
.dest,
.date,
.area {
    margin: 10px;
    width: 12%;
}
.post_img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    align-items: center;
}
.category {
    display: inline!important;
}
.post_btn {
    display: flex;
    justify-content: center;
    margin: 0 47%;
    padding: 5px 10px;
}
.image_post {
    display: none;
}
.image_label {
    padding: 10px 40px;
    color: #fff;
    background-color: #7a7a7a;
    cursor: pointer;
    border-radius: 5px;
}
.image_label:hover {
    opacity: 0.8;
}
.image_name {
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.post_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* post_edit */
.post_edit {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.sub_title {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px 0;
}
.post_date {
    width: 100px;
}
.post_dest {
    width: 130px;
}
.post_comment {
    width: 400px;
}
.post_list_btn {
    width: 50px;
}
.post_btn {
    color: #737373;
}
.post_btn:hover {
    color: #4d4d4d;
}
.post {
    margin: 30px 150px 0 0;
    padding: 7px 10px;
    background-color: #efefef;
    border-radius: 5px;
    color: #737373;
    border: 1px solid #7a7a7a;
}
.post:hover {
    color: #4d4d4d;
}

.post_edit_img {
    margin: 40px 0;
    text-align: center;
}
.post_edit_content {
    display: inline-block;
    text-align: center;
    margin: 30px 40px;
}
.post_edit_icon {
    display: flex;
    flex-direction: row;
}
.post_edit_comment {
    display: flex;
    flex-direction: column;
}
.post_edit_center {
    display: inline-block;
}
.post_edit_label {
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.post_edit_category {
    display: flex;
    justify-content: start;
    margin: 2px auto 5px 3px;
}
.post_edit_btn {
    margin: 0 auto 50px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}
.edit_category {
    width: 10%;
}
.edit_image {
    height: 160px;
    width: 160px;
    border-radius: 5px;
}

/* contact */
.contact_content {
    display: flex;
    flex-direction: column;
    margin: 30px 10%;
}
.form_content {
    display: flex;
    justify-content: start;
    gap: 20px;
}
.send {
    text-align: center;
}
.title_label,
.comment_label {
    width: 50px;
}
.contact_title,
.contact_comment {
    margin: 20px;
}
.contact_title {
    display: block;
    border: none;
    border-bottom: 1px solid #737373;
    background: none;
}
.contact_comment {
    display: block;
    height: 100px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #737373;
    background: none;
}
.contact_sns {
    display: flex;
    justify-content: space-around;
}
.twitter-timeline {
    width: 20%;
}

/* mypage */
.mypage_contact {
    margin: 20px 15%;
}
.mypage_title {
    margin: 10px 10%;
}
.mypage_date,
.mypage_sub_title,
.mypage_name,
.mypage_email {
    width: 20%;
}
.mypage_comment {
    width: 40%;
}
.mypage_links {
    display: flex;
    justify-content: center;
}
.todo {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.todo_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.list_title {
    width: 10%;
    margin: 5px auto 5px 150px;
}
.list_content {
    width: 40%;
    margin: 0 auto 0 20px;
}
.todo_show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.todo_show_list {
    width: 200px;
    text-align: start;
}
.todo_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa-square-check {
    font-size: 20px;
    color: #737373;
}
.fa-square-check:hover {
    color: #575757;
}